<!-- This is the Chapter 3 Demo page
    More HTML for CPSC 314 -->

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Node.js MongoDB Demo</title>
    <style>
        table,
        th {
            border: 1px solid black;
            margin: auto;
        }

        td {
            border: 1px dotted black;
        }

        .navigation,
        h1 {
            text-align: center;
            margin-top: 10px;
        }

        .container {
            margin: auto;
            width: 75%;
        }
    </style>
</head>

<body>
    <h1>Hello, World! New web page, who is this?</h1>
    <!-- <img src="icee.jpg"
                    alt="Shamelessly stolen from https://i.kym-cdn.com/photos/images/original/000/000/601/C6QJPRHW4QF6KFDP7XJNW24TNDI4YNF2.jpg"> -->

    <form action="/show" method="POST">
        <fieldset>
            <legend>Feedback Form</legend>
            <p>
                <label for="first">First Name:</label>
                <input type="text" name="first" id="first" value="Bob">
            </p>

            <p>
                <label for="last">Last Name:</label>
                <input type="text" name="last" id="last" value="Smith">
            </p>
            <p>
                <label for="check1">I see what you did there:</label>
                <input type="checkbox" name="check1" id="check1">
            </p>
            <p>
                <label for="rating">Rate this page 0-4 "stars":</label>
                <strong>0</strong>
                <input type="radio" name="rating" value="0" id="rating">
                <input type="radio" name="rating" value="1" checked>
                <input type="radio" name="rating" value="2">
                <input type="radio" name="rating" value="3">
                <input type="radio" name="rating" value="4">
                <strong>4</strong>
            </p>
            <p>
                <label for="agree">It was funny</label>
                <select name="agree" id="agree">
                    <option value="Yes">I agree</option>
                    <option value="Maybe">I don't know</option>
                    <option value="No">I disagree</option>
                </select>
            </p>
            <input type="submit" value="Submit Feedback">
        </fieldset>
    </form>     
    <div class="navigation">
        <button><a href="/static/index.html">Presentation</a></button>
        <button><a href="/">Login</a></button>
        <button><a href="/show">Show All Results</a></button>
        <button><a href="/register">Register</a></button>
        <button><a href="/logout">Log Out</a></button>
    </div>
</body>

</html>