doctype html 
html 
  head 
    title Register | Note Store 
    link(rel='stylesheet', type='text/css',href='css/register-style.css')
    link(rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="scripts/register_script.js")
  body
    div#register-window
      h1 Note Store
      h2 Welcome new user!
      form(action="/register" id='user-login' method="post") 
        div#userinput-container
          section.entry
            label(for="uid") Username
            input(type="text" id="uid" name="uid" required)
          section.entry
            label(for="password") Password
            input(type="password" id="password" name="password" required)
        div#button-container
          input(type="submit" id='register' name='register' value="Create ")
        button#clear-button Clear
      a(href="/login") Back To Login